div.bx-system-auth-form span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:bottom; margin-top:-1px;}
div.bx-system-auth-form div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-system-auth-form div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}
p.login-name{margin-bottom:10px;}
.bx-system-auth-form td{padding: 5px 0px;}
.logBtn{display: block;background: rgb(72, 174, 52) none repeat scroll 0% 0%;color: rgb(255, 255, 255);text-decoration: none;height: 34px;
line-height: 34px;padding: 0px 15px;outline: 0px none;border: 0px none;font-size: 14px !important;border-radius: 3px;width: 169px;margin-left:17px;}
div.bx-system-auth-form form table tr{height:inherit !important;}
div.bx-system-auth-form form table tr td{	width:inherit !important;}
.borderz { ist-style: none; padding: 0;}
.borderz li a {text-decoration: none; width: 100%;background: rgba(255, 255, 255, 0.9);display: block;position: absolute;bottom: 0;font-size: 13px;    font-weight: bold;color: #F57C00;}
.borderz li {width: 100%;display: inline-block;margin: 4px;border-radius: 5px;border-left: 50px solid #f90;box-shadow: 0px 0px 5px 0 rgba(0,0,0,.1);
    font-size: 19px;text-align: center;height: 53px; position: relative;}
.borderz li:hover { box-shadow: 2px 3px 5px #d4d2d2;transition: ease-in 0.2s;}
.ordez::before { content: ""; display: block; background: url("images/order.png") no-repeat; width: 49px; height: 50px; background-size: 43px 43px;
    position: absolute; left: -47px; bottom: -1px;}
.cartez::before { content: "";display: block;background: url("images/cart.png") no-repeat;width: 49px;height: 50px; background-size: 43px 43px;
    position: absolute; left: -47px; bottom: -1px;}
.changez::before { content: ""; display: block; background: url("images/change.png") no-repeat; width: 49px;
    height: 50px; background-size: 41px 40px; position: absolute; left: -46px; bottom: -2px;}
.ordez a {padding: 0px 9px 11px 9px !important;}
.cartez a{padding: 0 0 11px 0;}
.changez a{padding: 0 0 3px 0;}
#auth_error,#auth_success{position: absolute; width: 100%;height: 100%;color: #FF9800;left: 0px;top: 0px;border-radius: 5px; font-size: 14px;
	background-color: #FFF;}
#auth_error_mess{    color: #FF9800;    font-weight: bold;    font-size: 15px;    padding: 0px 15px;}
.auth_error_img{     width: 150px;    height: 170px; background: url(images/incorrect.png) no-repeat; background-size: 100%; padding: 0px 0px;
    margin: 13px 0px 0px 35px;}
#auth_success_mess{    color: green;    font-weight: bold;    font-size: 15px;    padding: 0px 15px;}
.auth_success_img{     width: 150px;  height: 170px;  background: url(images/correct.png) no-repeat;  background-size: 100%;  padding: 0px 0px;
    margin: 13px 0px 0px 35px;}