@font-face{font-family:'icomoon';src:url(fonts/icomoon.eot?jihpu2);src:url(fonts/icomoon.eot?jihpu2#iefix) format("embedded-opentype"),url(fonts/icomoon.ttf?jihpu2) format("truetype"),url(fonts/icomoon.woff?jihpu2) format("woff"),url(fonts/icomoon.svg?jihpu2#icomoon) format("svg");font-weight:400;font-style:normal}
.color-2{background:#bbc7c8;color:#fff}
.color-2 a{color:#566473}
.color-2 a:hover,.color-2 a:focus{color:#34495e}
div.cs-select{display:inline-block;vertical-align:middle;position:relative;text-align:left;background:#fff;z-index:100;width:100%;max-width:500px;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
div.cs-select:focus{outline:none}
.cs-select select{display:none}
.cs-select span{display:block;position:relative;cursor:pointer;padding:10px 0 10px 1em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.cs-select > span{padding-right:3em}
.cs-select > span::after,.cs-select .cs-selected span::after{speak:none;position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.cs-select > span::after{right:1em}
.galka::before{font-family:'icomoon'!important;content:"\ea10";color:#fff;font-size:48px}
.cs-select .cs-selected span::after{margin-left:1em}
.cs-select.cs-active > span::after{-webkit-transform:translateY(-50%) rotate(180deg);transform:translateY(-50%) rotate(180deg)}
div.cs-active{z-index:200}
.cs-select .cs-options{position:absolute;overflow:hidden;width:100%;background:#fff;visibility:hidden;box-shadow:0 22px 50px silver}
.cs-select.cs-active .cs-options{visibility:visible}
.cs-select ul{list-style:none;margin:0;padding:0;width:100%}
.cs-select ul span{padding:1em}
.cs-select ul li.cs-focus span{background-color:#ddd}
.cs-select li.cs-optgroup ul{padding-left:1em}
.cs-select li.cs-optgroup > span{cursor:default}
div.cs-skin-border{font-size:18px;font-weight:700;max-width:52%;background:#ff7e00;color:#fff}
@media screen and (max-width: 30em) {
div.cs-skin-border{font-size:1em}
}
.cs-skin-border > span{border:5px solid #000;border-color:inherit;-webkit-transition:background 0.2s,border-color .2s;transition:background 0.2s,border-color .2s}
.cs-skin-border > span::after,.cs-skin-border .cs-selected span::after{font-family:'icomoon';content:"\ea3a"}
.cs-skin-border ul span::after{content:'';opacity:0}
.cs-skin-border .cs-selected span::after{content:"\ea3e";color:#ddd9c9;font-size:1.5em;opacity:1;-webkit-transition:opacity .2s;transition:opacity .2s}
.cs-skin-border.cs-active > span{background:#fff;border-color:#fff;color:#ff6c00}
.cs-skin-border .cs-options{color:#ff6c00;font-size:.75em;opacity:0;-webkit-transition:opacity 0.2s,visibility 0 .2s;transition:opacity 0.2s,visibility 0 .2s}
.cs-skin-border.cs-active .cs-options{opacity:1;-webkit-transition:opacity .2s;transition:opacity .2s;width:480px}
.cs-select ul li{width:50%;display:inline-block}
.cs-skin-border ul span{padding:7px 20px;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.cs-skin-border .cs-options li span:hover,.cs-skin-border li.cs-focus span{background:#f5f3ec}
.shadoz{box-shadow:1px 4px 7px 1px RGBA(54,54,54,0.88)}
.flipz{-moz-transform:scaleX(-1)!important;-o-transform:scaleX(-1)!important;-webkit-transform:scaleX(-1)!important;transform:scaleX(-1)!important;filter:FlipH;-ms-filter:FlipH}
.blocks{display:inline-block;width:30%;height:455px}
.blockz{width:70%;height:539px;border:1px solid #C8C8C8;margin:0;background-color:#F0F0F0;position:relative;overflow:hidden;display:inline-block}
.fon{background:url(interier/28.jpg);background-size:contain;height:100%;width:100%;position:absolute}
.rangers{height:60px;width:94%;margin-left:6px}
.clearOpt{display:block;width:100%;height:40px;background:#ff9000;text-align:center;color:#fff;font-weight:700;line-height:32px;position:absolute;bottom:0}
.clearOpt:hover{cursor:pointer;background:#ff6300}
.labNoPad{padding-top:0!important}
.interiero{width:29%;height:539px;border:1px solid #C8C8C8;margin:0 7px 0 0;background-color:#F0F0F0;position:relative;overflow:hidden;display:inline-block}
#intWarp{height:430px;overflow-y:scroll}
.uploadImage{max-height:200px;margin-right:20px;cursor:pointer}
.uploadInter{max-height:100px;width:155px;margin:8px 3px 4px 8px;opacity:.5;cursor:pointer}
.uploadInter:hover{max-height:100px;width:155px;margin:8px 3px 4px 8px;opacity:1;transition:all ease-in-out .2s}
.container{background-size:100% 100%!important;width:190px;height:410px;left:591px;top:54px}
#existingImges{overflow-x:scroll;overflow-y:hidden;height:230px;white-space:nowrap}
center{position:relative;width:100%;padding-top:10px}
#fabHead{display:block;background:#ff7e00 none repeat scroll 0 0;color:#fff;padding:10px;font-weight:700;font-size:21px;text-align:center}
#fabAdd{display:block;background:#00ba23 none repeat scroll 0 0;color:#fff;padding:10px;font-weight:700;font-size:21px;text-align:center;height:69px;padding-right:170px;padding-top:4px;line-height:29px}
.ui-icon{width:26px;height:26px;background-size:contain!important;margin-top:0;opacity:.6;background-repeat:no-repeat!important}
.ui-icon:hover{opacity:1;transition:ease-in-out .15s}
.reset{background:url(images/clear.png);position:relative;top:50%;left:-26%;width:45px;height:45px;background-size:contain;background-repeat:no-repeat;opacity:.6}
.reset:hover{opacity:1}
.ui-icon-arrowrefresh-1-s{background:url(images/rotate.png);right:-14%!important;top:-6%!important}
.ui-icon-arrow-2-e-w{background:url(images/skew_h.png);left:42%!important;top:-7%!important}
.ui-icon-search{background:url(images/zoom.png);left:-15%!important;top:-6%!important}
.ui-icon-arrow-2-n-s{background:url(images/skew_v.png);right:-13%!important}
.ui-icon-gripsmall-diagonal-se{background:url(images/resize.png)}
#uploadDiv{position:absolute;top:81%;right:50px}
#image-preview label{position:absolute;z-index:5;cursor:pointer;background-color:#ff9000;font-size:80px;line-height:93px;width:90px;height:90px;vertical-align:middle;color:#FFF;border-radius:50px;box-shadow:0 1px 5px #757575}
#image-preview label:hover{box-shadow:0 5px 8px #757575;transition:ease-in-out .2s}
#image-preview input{opacity:0;z-index:10;width:90px;height:90px}
.fabInfo{display:inline-block;background:#fff none repeat scroll 0 0;color:#ff7500;padding:15px 18px 19px;font-weight:700;font-size:21px;text-align:center;width:59%;border:3px dashed #ff7500}
.confa{position:absolute;display:inline-block;height:100%;width:250px;background:rgba(255,255,255,0.82);top:0;left:-250px}
.closeImg:hover{cursor:pointer;-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);transition:ease-in-out .25s}
.confaImg:hover{cursor:pointer;-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);transition:ease-in-out .25s}
.confaImg{position:absolute;display:inline-block;height:auto;width:50px;top:10px;left:10px}
.closeImg{position:absolute;display:inline-block;height:auto;width:30px;top:10px;right:10px}
.optTop{display:inline-block;height:50px;width:100%;display:inline-block;height:50px;width:100%;padding:15px;font-size:15px;color:#00ba23;font-weight:700;border-bottom:1px dotted green}
.dropdown{list-style:none;margin:10px!important}
.dropdown li{position:relative}
.dropdown li input{position:absolute;display:block;right:10px;top:50%;margin-top:-8px}
.dropdown li label{display:block;padding:0 10px 12px 6px;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;font-size:13px}
.dropdown li input:checked ~ label{color:grey;text-decoration:line-through}
.ui-draggable-dragging{cursor:url(images/curMove.png) 25 30,move}